<div class="container my-5 text-center md:text-left md:mx-12 md:my-6">
  <h3 class="font-sans text-4xl font-bold text-green-600">Virtual Scroll</h3>
  <p class="text-md text-gray-600">Ejemplo de virtual scroll</p>
</div>

<app-virtual></app-virtual>

<div class="container my-5 text-center md:text-left md:mx-12 md:my-6">
  <h3 class="font-sans text-4xl font-bold text-green-600">Drag and drop</h3>
  <p class="text-md text-gray-600">Ejemplo de drag and drop</p>
</div>
<app-drag></app-drag>


<div class="container my-5 text-center md:text-left md:mx-12 md:my-6">
  <h3 class="font-sans text-4xl font-bold text-green-600">Ordenar una lista</h3>
  <p class="text-md text-gray-600">Ordenar una lista haciendo drag and drop</p>
</div>
<app-paises></app-paises>

<footer class="font-sans bg-green-600 text-white py-8 px-4 mt-5">
  <div class="items-center">


      <div class="flex flex-col items-center">
        <div class="inline-block py-2 px-3 text-white uppercase font-medium tracking-wide">Follow me</div>
        <div class="flex pl-4 justify-start">
          <a class="block flex items-center text-white hover:text-gray-500 mr-6 no-underline" href="https://github.com/alejandro7536/dragAndDrop-virtualScroll" target="_blank"><i
              class="fab fa-github-alt"></i></a>
          <a class="block flex items-center text-white hover:text-gray-500 mr-6 no-underline" href="https://www.linkedin.com/in/luis-alejandro-alas-gonz%C3%A1lez-0b6131125/" target="_blank"><i
              class="fab fa-linkedin"></i></a>
        </div>
      </div>
  </div>
  <div class="pt-4 mt-4 text-white text-center"> ©{{year}} Alejandro Alas. All rights
    reserved.</div>
</footer>

